@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game Of Thrones: BatchFeed</h1>
    <p>Answer the questions below to see what house you belong to</p>
</div>


<form name="contact" action="">
    <fieldset>
        <div class="input-box">
            <p>Question 1: You see your batchmate asking for help in discord and its 1:05AM. What do you do?</p>
            <p>
                <ol>
                    <li>You've been there. You decide to help them.</li>
                    <li>Ask why they are not better at coding.</li>
                    <li>Share your screen and give them the answer.</li>
                    <li>You help them but you're not Juniper so you don't know whats going on and ultimately both of you wasted 45 minutes and now its almost 2am.</li>
                    <li>Report them to HR. Its 1:05AM bro.</li>
                </ol>
            </p>
            <label for="name" id="name_label">Answer</label>
            <input type="text" name="name" id="name" placeholder="Please Answer 1-5" class="text-input" required />
        </div>
        <input type="submit" name="submit" class="button" id="submit_btn" value="Submit Answer" />
    </fieldset>
</form>
