
﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game Of Thrones: BatchFeed</h1>
    <p>Click start to see what house you belong to</p>
    <a asp-action="Index">START!</a>
</div>