@model Models.Question

@{
    ViewData["Title"] = "Index";
}


<h1>Answer the questions below carefully.</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p><b>Question 1:</b> You see your batchmate asking for help in discord and its 1:05AM. What do you do?</p>
            <p>
                <ol>
                    <li>You've been there. You decide to help them.</li>
                    <br />
                    <li>Ask why they are not better at coding.</li>
                    <br />
                    <li>Share your screen and give them the answer.</li>
                    <br />
                    <li>You help them but you're not Juniper so you don't know whats going on and ultimately both of you wasted 45 minutes and now its almost 2am.</li>
                    <br />
                    <li>Report them to HR. Its 1:05AM bro.</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question1" class="control-label"><b>Answer</b></label>
                <input asp-for="Question1" class="form-control" />
                <span asp-validation-for="Question1" class="text-danger"></span>
            </div>

            <br />
            <hr />
            <br />

            <p><b>Question 2:</b> You have QC hackerrank tomorrow. What do you do?</p>
            <p>
                <ol>
                    <li>Study.</li>
                    <br />
                    <li>I don't study. Natural born coding prodigy.</li>
                    <br />
                    <li>Beg the scrum master to text you the solutions.</li>
                    <br />
                    <li>Legitimately work 10-6, eat a nice breakfast and lunch. Go to the gym. Do hackerranks from 9-11. Get a good night's rest. Recieve a red color grade for qc.</li>
                    <br />
                    <li>Get Released.</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question2" class="control-label"><b>Answer</b></label>
                <input asp-for="Question2" class="form-control" />
                <span asp-validation-for="Question2" class="text-danger"></span>
            </div>

            <br />
            <hr />
            <br />

            <p><b>Question 3:</b> Its been 4 weeks since you've started and haven't been paid yet. Revature mentioned their own debit card?!?! You're starving and the electric bill was due 3 weeks ago. What do you do?</p>
            <p>
                <ol>
                    <li>Wait for your paycheck.<br></li>
                    <br />
                    <li>Mug your batchmate.</li>
                    <br />
                    <li>Get a second job.</li>
                    <br />
                    <li>Sell your computer.</li>
                    <br />
                    <li>Steal your mom's money</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question3" class="control-label"><b>Answer</b></label>
                <input asp-for="Question3" class="form-control" />
                <span asp-validation-for="Question3" class="text-danger"></span>
            </div>

            <br />
            <hr />
            <br />

            <p><b>Question 4:</b> Juniper complimented your P0 in your 1-1. How do you react?</p>
            <p>
                <ol>
                    <li>"Thank you I worked very hard".</li>
                    <br />
                    <li>You know she did 48% of the project for you by answering your questions and helping you past 9PM. She's really complimenting herself.</li>
                    <br />
                    <li>"I know. Coding prodigy I know.".</li>
                    <br />
                    <li>Ignore her.</li>
                    <br />
                    <li>"I'm about to get released".</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question4" class="control-label"><b>Answer</b></label>
                <input asp-for="Question4" class="form-control" />
                <span asp-validation-for="Question4" class="text-danger"></span>
            </div>

            <br />
            <hr />
            <br />

            <p><b>Question 5:</b> Its 10:20AM and you haven't logged into zoom call yet. What are you doing?</p>
            <p>
                <ol>
                    <li>Woke up late.</li>
                    <br />
                    <li>Skipping class.</li>
                    <br />
                    <li>Teaching myself.</li>
                    <br />
                    <li>I have no idea whats going on.</li>
                    <br />
                    <li>Didn't wake up late. I just don't care because I'm a menace.</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question5" class="control-label"><b>Answer</b></label>
                <input asp-for="Question5" class="form-control" />
                <span asp-validation-for="Question5" class="text-danger"></span>
            </div>

            <br />
            <hr />
            <br />
<<<<<<< HEAD
            <p>Question 6: qwiudnusn? AIOUDNUIN!!!!! omsdoifm.... ;) </p>
            <img src="https://i.pinimg.com/originals/72/66/03/72660317f0ba2acbc4cc9f97aedde63d.jpg" />
=======

            <p><b>Question 6:</b> qwiudnusn? AIOUDNUIN!!!!! omsdoifm.... ;) </p>
>>>>>>> 8c84f3340f1334068f6f692aa02b97327578c629
            <p>
                <ol>
                    <li>I love coding</li>
                    <br />
                    <li>IJNIUSNDIUSN!!!!!!!</li>
                    <br />
                    <li>Winner of the squid games</li>
                    <br />
                    <li>asidouniunewin</li>
                    <br />
                    <li>automatically released</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question6" class="control-label"><b>Answer</b></label>
                <input asp-for="Question6" class="form-control" />
                <span asp-validation-for="Question6" class="text-danger"></span>
            </div>

            <br />
<<<<<<< HEAD
            <p>Question 7: You get to pick one person to be on your team for p2. Who are you choosing?</p>
            <img src="https://c.tenor.com/bDnLivil00YAAAAC/pokemon-poke-ball.gif" />
=======
            <hr />
            <br />

            <p><b>Question 7:</b> You get to pick one person to be on your team for p2. Who are you choosing?</p>
>>>>>>> 8c84f3340f1334068f6f692aa02b97327578c629
            <p>
                <ol>
                    <li>The one ring.</li>
                    <br />
                    <li>The 3 blind mice from shrek (they come as a trio).</li>
                    <br />
                    <li>Ramsey Bolton's dog.</li>
                    <br />
                    <li>That one guy.</li>
                    <br />
                    <li>Master Chief from Halo.</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question7" class="control-label"><b>Answer</b></label>
                <input asp-for="Question7" class="form-control" />
                <span asp-validation-for="Question7" class="text-danger"></span>
            </div>

            <br />
<<<<<<< HEAD
            <p>Question 8: Its p2 and your teammate merged and deleted all your code and input theirs. What do you do?</p>
            <img src ="https://c.tenor.com/uB8LSwAByVEAAAAM/the-simpsons-strangle.gif" />
=======
            <hr />
            <br />

            <p><b>Question 8:</b> Its p2 and your teammate merged and deleted all your code and input theirs. What do you do?</p>
>>>>>>> 8c84f3340f1334068f6f692aa02b97327578c629
            <p>
                <ol>
                    <li>Their right.</li>
                    <br />
                    <li>strangl.... ask them why they would do that.</li>
                    <br />
                    <li>Quit.</li>
                    <br />
                    <li>Just kidding I can't quit'.</li>
                    <br />
                    <li>Delete the entire project because if I can't share my code then nobody can.</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question8" class="control-label"><b>Answer</b></label>
                <input asp-for="Question8" class="form-control" />
                <span asp-validation-for="Question8" class="text-danger"></span>
            </div>
            
            <br />
            <hr />
            <br />
<<<<<<< HEAD
            <p>Question 9: Favorite genre of music?</p>
            <img src ="https://c.tenor.com/uIFQDRA8f58AAAAd/huh.gif" />
=======

            <p><b>Question 10:</b> Favorite genre of music?</p>
>>>>>>> 8c84f3340f1334068f6f692aa02b97327578c629
            <p>
                <ol>
                    <li>Flowers.</li>
                    <br />
                    <li>Horror movies.</li>
                    <br />
                    <li>.NET Full stack.</li>
                    <br />
                    <li>Creation of the universe.</li>
                    <br />
                    <li>Country music.</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question9" class="control-label"><b>Answer</b></label>
                <input asp-for="Question9" class="form-control" />
                <span asp-validation-for="Question9" class="text-danger"></span>
            </div>

            <br />
<<<<<<< HEAD
            <p>Question 10: Ten questions was a lot. Help me decide what question should I have asked.</p>
            <img src ="https://66.media.tumblr.com/d71dbe44d0e0a0a9f03b4d543ee33177/b30166a6d5143fcc-22/s500x750/66f800a7a4270dd964daa54f467e1fd5b87fca5e.gif" />
=======
            <hr />
            <br />

            <p><b>Question 10:</b> Ten questions was a lot. Help me decide what question should I have asked.</p>
>>>>>>> 8c84f3340f1334068f6f692aa02b97327578c629
            <p>
                <ol>
                    <li>Why were you born so perfect?</li>
                    <br />
                    <li>Why do you lack the skills required to be of use in the revature program?</li>
                    <br />
                    <li>If you could have one superpower what would it be?</li>
                    <br />
                    <li>omg.. is that scrumlord Bao?</li>
                    <br />
                    <li>Why was this quiz 10 questions long?</li>
                </ol>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Question10" class="control-label"><b>Answer</b></label>
                <input asp-for="Question10" class="form-control" />
                <span asp-validation-for="Question10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
