@model Models.House

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<p />You are a......</p>

<p style="text-align:left; font-size: 100px;">@ViewBag.message</p>
<img src="@ViewBag.image"/>

